{% extends "layouts/base.html" %}

{% block title %} About US {% endblock %}

{% block body_class %} about-us {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- sidebar -->

    {% include 'includes/navigation-transparent.html' %}

    <div class="sidebar">
    {% include 'includes/sidebar.html' %}
    </div>

            <header class="bg-gradient-dark">
                <div class="page-header min-vh-75" style=" background-image: url('{{ ASSETS_ROOT }}/img/turkey.jpg');">
                    <span class="mask bg-gradient-dark opacity-6"></span>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 text-center mx-auto my-auto">
                                <h1 class="text-white">Booking is easy and simple</h1>
                                <h5 class="text-white">Ready to relax? Book a hotel in a few clicks.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
{% endblock content %}
